@import url('https://fonts.googleapis.com/css?family=Exo:300|Exo:200|Cinzel+Decorative');

/*--------UNIVERSAL COLORS--------*/
:root {
  main-bg: #EFEFEF;
  secondary-bg: #F2F2F2;
  main-text: #1D5D70;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: 'Exo', sans-serif;
  font-weight: 100;
}


/*--------NAV--------*/

nav {
  position: relative;
  width: 100%;
  height: 70px;
  background: #E55D87;  /* fallback for old browsers */
  background: webkit-linear-gradient(to left, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav > ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav ul li {
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
}

#logo {
  font-variant: small-caps;
  font-size: 30px;
  font-weight: bold;
}

nav ul li a: {
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
}

nav ul li a {
    color: #303a3d;
    text-decoration: none;
}

nav ul li a:hover {
     color: #0b0e0f; 
     text-decoration:none; 
     cursor:pointer;  
}